{% extends 'twitterclone/base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

        <h1>Register with Twitter</h1>

        {% if registered %}
        Twitter says: <strong>thank you for registering!</strong>
        <a href="/twitterclone/">Return to the homepage.</a><br />
        {% else %}
        Twitter says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/twitterclone/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

{% endblock %}